#htmlInput {
    position : absolute;
    top      : 100px;
    left     : 0;
    height   : 50%;
    width    : 49%;
}

#cssInput {
    position : absolute;
    top      : 600px;
    left     : 0;
    height   : 50%;
    width    : 49%;
}

#dollFrame {
    position : absolute;
    top      : 100px;
    right    : 0;
    height   : 100%;
    width    : 49%;
}

#blackDress {
	float	 : right;
	margin	 : 3px;
}

#pants {
	float	 : right;
	margin	 : 3px;
}

#shirt {
	float	 : right;
	margin	 : 6px;
}

#skirt {
	float	 : right;
	margin	 : 8px;
}

#colorSelect {
	position : absolute;
	top		 : 70px;
	right	 : 0;
}